@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  top: 0;
  box-sizing: border-box;
  min-height: 100%;
  background-color: #fff;
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:active {
  color: #030b2a;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

h1 {
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

label {
  display: block;
}

input[type="text"],
input[type="email"] {
  display: block;
  min-width: 200px;
}

input[type="submit"] {
  display: block;
}

textarea {
  min-width: 200px;
}

/* Richtext*/
.font-bold {
  font-weight: bold;
}

/* Layout*/

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER & FOOTER*/

.navbar-container {
  background-color: #6af5da;
  display: flex;
  width: 100%;
  padding: 2vh 4vw;
}

.nav-items {
  width: 100%;
}

.nav-item {
  padding-right: 1rem;
  font-weight: 600;
}

footer {
  padding: 1rem;
  color: aliceblue;
  background-color: #262929;
}

/* MAIN */

main {
  flex: 1;
}

.home-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "heroimage"
    "herotext";
}

@media (min-width: 768px) {
  .home-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "herotext heroimage";
  }
}

.hero-image {
  max-height: 450;
  max-width: 450;
}

.hero-image-wrapper {
  padding-top: 5vh;
  grid-area: heroimage;
  justify-self: end;
}

.hero-text {
  grid-area: herotext;
  align-self: center;
}

/* about */

.grid-wrapper-right {
  display: grid;
  min-height: 100%;
  grid-gap: 5vw;
  grid-template-areas:
    "heroimager"
    "herotext";
}

@media (min-width: 768px) {
  .grid-wrapper-right {
    grid-template-areas: "heroimager herotextl";
  }
}

.hero-image-right {
  grid-area: heroimager;
}

.hero-image-about {
  max-height: 200;
  max-width: 200;
}

.hero-text-left {
  grid-area: herotextl;
  align-self: center;
}

.socials-wrapper {
  display: flex;

  ul li {
    list-style: none;
  }
}

.icons-wrapper {
  display: flex;
  padding: 0;
  margin: 0;

  li {
    padding: 0 0.5rem;
  }
}

.container-center {
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.contact-form-wrapper {
  padding-top: 2rem;
  display: flex;
  justify-self: center;
  justify-content: center;
}
